body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Navbar */
.aarong-navbar {
  background: #fff;
  border-bottom: 1px solid #eee;
  padding: 10px 20px;
}

.top-menu .nav-link {
  font-weight: 600;
  color: #000;
  margin: 0 10px;
}

.brand-earth .nav-link {
  font-weight: 700;
}

/* Search box */
.search-box {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #000;
  padding: 3px 5px;
}

.search-box input {
  border: none;
  outline: none;
  margin-left: 5px;
  font-size: 14px;
}

.search-box i {
  font-size: 14px;
}

/* Icons */
.navbar i {
  font-size: 18px;
  cursor: pointer;
}

/* Country */
.country {
  font-size: 14px;
  font-weight: 600;
}

/* Sub menu */
.sub-menu {
  display: flex;
  justify-content: center;
  gap: 18px;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  background: #fff;
}

.sub-menu a {
  text-decoration: none;
  color: #000;
  font-size: 13px;
  font-weight: 600;
}

.sub-menu a:hover {
  text-decoration: underline;
}
.navbar-brand{ 
    height: 40px; width: 30px;
}