.list-inline{ 
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;
}
.list-inline{ 
    list-style: none;
    cursor: pointer;
}
.right-wrap{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  font-family: Arial, sans-serif;
}

/* Search */
.search-area{
  display: flex;
  align-items: center;
  border-bottom: 1px solid #000;
  padding-bottom: 4px;
}

.search-area i{
  font-size: 18px;
  margin-right: 8px;
}

.search-area input{
  border: none;
  outline: none;
  width: 160px;
  font-size: 14px;
}

/* Icons & text */
.right-wrap i{
  font-size: 20px;
  cursor: pointer;
}

.country{
  font-size: 16px;
  font-weight: 500;
}
.nav-main{
  display: flex;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item{
  position: relative;
}

.nav-item a{
  text-decoration: none;
  color: #000;
  font-weight: 400;
  padding-bottom: 6px;
}

.nav-item:hover a{
  color: #f36f21;
  border-bottom: 2px solid #f36f21;
}

/* Mega menu */
.mega-menu{
  position: absolute;
  left: -150px;
  top: 100%;
  width: 1100px;
  background: #fff;
  display: none;
  padding: 35px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.15);
  z-index: 999;
}

.mega:hover .mega-menu{
  display: flex;
  gap: 40px;
}

/* Columns */
.mega-cols{
  display: flex;
  gap: 50px;
}

.mega-cols h6{
  font-size: 13px;
  font-weight: 600;
  margin: 12px 0 6px;
}

.mega-cols ul{
  list-style: none;
  padding: 0;
  margin-bottom: 12px;
}

.mega-cols li{
  font-size: 13px;
  margin-bottom: 6px;
  cursor: pointer;
}

.mega-cols li:hover{
  color: #f36f21;
}

/* Image */
.mega-image img{
  width: 260px;
}